<nav>
  <button
    type="button"
    routerLink="/home"
    routerLinkActive="active"
    title="Accueil"
    style="--delay: 0s"
  >
    <span class="text">Accueil</span>
    <i class="bx bxs-home"></i>
  </button>
  <button
    type="button"
    routerLink="/about"
    routerLinkActive="active"
    title="À Propos"
    style="--delay: 0.2s"
  >
    <span class="text">À Propos</span>
    <i class="bx bxs-building-house"></i>
  </button>
  <button
    type="button"
    routerLink="/contact"
    routerLinkActive="active"
    title="Contact"
    style="--delay: 0.4s"
  >
    <span class="text">Contact</span>
    <i class="bx bxs-envelope"></i>
  </button>
</nav>
