:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  min-height: 287px;
  width: 90%;
  border-radius: var(--light-radius);
  overflow: hidden;
}

.card span {
  font-size: 18px;
  font-weight: 500;
  color: var(--card-background-front);
}

.card .front {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 287px;
  background-color: var(--card-background-front);
}

.card .front img {
  width: 100px;
  height: 100px;
}

.card .front .name {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #f6e27a;
  background-image: linear-gradient(
    to right,
    #daa960 0,
    #f6e27a 45%,
    #f6e27a 55%,
    #daa960 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card .back {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 287px;
  background-color: var(--card-background-back);
}

.card .back .name {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 20px;
}

.card .back .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card .back .flex .text {
  width: 272px;
  text-align: center;
}

.card .back .gold-line {
  width: 75%;
  height: 3px;
  background-color: var(--accent);
  margin: 7px 0;
}

.card .back .flex i {
  font-size: 28px;
  color: var(--accent);
}

.card .back .qr-container {
  position: absolute;
  bottom: 0;
  background-color: var(--card-background-front);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .back .qr-container:before {
  position: absolute;
  content: "";
  background-color: var(--card-background-front);
  height: 95px;
  width: 95px;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.card .back .qr-container .qr-code {
  position: absolute;
  bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--card-background-back);
}

.card .back .qr-container .qr-code img {
  width: 60px;
  height: 60px;
}
