<section>
  <div class="front">
    <img
      [src]="imagePath + 'Logo.webp'"
      alt="Logo SCI Lecomte Investments"
      width="100"
      height="100"
      decoding="async"
    />
    <h1>{{ enterprise.titleFront }}</h1>
  </div>
  <div class="back">
    <h1>{{ enterprise.titleBack }}</h1>
    <h2>{{ enterprise.subtitleBack }}</h2>
    <div class="gold-line"></div>
    <div class="flex">
      <i class="bx bxs-phone" aria-hidden="true"></i>
      <span class="text">{{ enterprise.phoneNumbers }}</span>
    </div>
    <a
      class="flex"
      [href]="'mailto:' + enterprise.email"
      title="Contactez-nous"
    >
      <i class="bx bxs-envelope" aria-hidden="true"></i>
      <span class="text">{{ enterprise.email }}</span>
    </a>
  </div>
</section>
