<section>
  <div class="front">
    <img [src]="imagePath + 'Logo.webp'" alt="Logo" />
    <h1>{{ enterprise.titleFront }}</h1>
  </div>
  <div class="back">
    <h1>{{ enterprise.titleBack }}</h1>
    <h2>{{ enterprise.subtitleBack }}</h2>
    <div class="gold-line"></div>
    <div class="flex">
      <i class="bx bxs-phone"></i>
      <span class="text">{{ enterprise.phoneNumbers }}</span>
    </div>
    <a
      class="flex"
      [href]="'mailto:' + enterprise.email"
      target="_blank"
      title="Contactez-nous"
    >
      <i class="bx bxs-envelope"></i>
      <span class="text">{{ enterprise.email }}</span>
    </a>
  </div>
</section>
