:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 230px;
  max-width: 400px;
  width: 95%;
  perspective: 800px;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  transform-style: preserve-3d;
  animation: rotateCardWithPause 6s infinite ease-in-out;
}

section:hover {
  animation-play-state: paused;
}

section span {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary);
}

section .front,
section .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--light-radius);
}

section .front {
  justify-content: center;
  gap: 30px;
  background-color: var(--secondary);
}

section .front img {
  width: 100px;
  height: 100px;
}

section .front h1 {
  text-align: center;
  margin: 0 10px;
  padding: 0;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--accent);
}

section .back {
  gap: 15px;
  background-color: var(--primary);
  transform: rotateY(180deg);
}

section .back h1 {
  text-align: center;
  margin: 0 10px;
  padding: 0;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 20px;
}

section .back h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary);
  padding: 0;
  margin: 0;
}

section .back .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section .back a {
  text-decoration: none;
  cursor: pointer;
}

section .back .flex .text {
  width: 272px;
  text-align: center;
}

section .back .gold-line {
  width: 75%;
  height: 3px;
  background-color: var(--accent);
  margin: 7px 0;
}

section .back .flex i {
  font-size: 28px;
  color: var(--accent);
}

section .back .link-container {
  position: absolute;
  bottom: 0;
  background-color: var(--secondary);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .back .link-container:before {
  position: absolute;
  content: "";
  background-color: var(--secondary);
  height: 95px;
  width: 95px;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

section .back .link-container .link {
  position: absolute;
  bottom: 20px;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .back .link-container .link i {
  font-size: 60px;
  color: var(--accent);
}

section .back .link-container .text {
  position: absolute;
  bottom: 7px;
  color: var(--accent);
  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
  z-index: 10;
}

@keyframes rotateCardWithPause {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 388px) {
  section .back .name {
    margin-top: 10px;
  }

  section .back .gold-line {
    margin: 0;
  }
}

@media screen and (max-width: 370px) {
  section .back .gold-line {
    margin: 7px 0;
  }

  section .back .flex i {
    display: none;
  }
}
