:root {
  --primary: white;
  --secondary: black;
  --accent: #f6e27a;
  --background: rgb(242, 241, 241);
  --card-background-front: #252628;
  --card-background-back: white;
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--box-shadow-color);

  --strong-radius: 20px;
  --light-radius: 10px;
}

html,
body {
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background);
}

::-webkit-scrollbar {
  display: none;
}
