:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

a {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  color: var(--accent);
  text-decoration: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  transition: 0.5s ease;
}

a:hover {
  background-color: var(--accent);
  color: var(--secondary);
}

a i {
  font-size: 30px;
}

a span {
  font-size: 20px;
  font-weight: 500;
}
